{{>header}}

<form class="ui form" method="POST" action="/new-user" dir="rtl"> 
  <div class="field">
    <label> שם פרטי</label>
    <input type="text" name="firstName" placeholder="שם פרטי" />
  </div>
  <div class="field">
    <label>שם משתמש</label>
    <input type="text" name="userName" placeholder="שם משתמש" />
  </div>
  <div class="field">
    <label>אמייל</label>
    <input type="email" name="email" placeholder="אמייל" />
  </div>
   <div class="field">
    <label>סיסמה</label>
    <input type="password" name="password" placeholder="סיסמה" />
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>

{{>footer}}